* {
    margin: 0px auto;
    font-family: 'Nunito', sans-serif;
    max-width: 1000px;
}

header {
    text-align: center;
    margin: 30px auto;
}

h1 {
    color: #e53170;
}

header p {
    color: black;
    margin-top: 40px;
    font-weight: 300;
}

#top ::after {
    clear: both;
}

.black-box {
    background-color: #0f0e17;
    color: white;
    width: 32%;
    display: inline-block;
}

.margin {
    margin-left: 1.5%;
}

img {
    height: 87px;
    float: left;
}

.float-text {
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 97px;
}

a {
    color: #31ace4;
    text-decoration: none;
}

#bottom {
    margin-top: 40px;
}